[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/senchikvalentin
[access "refs/for/refs/*"]
	read = group user/senchikvalentin
	push = group user/senchikvalentin
	label-Code-Review = -2..+2 group user/senchikvalentin
	label-Verified = -1..+1 group user/senchikvalentin
	rebase = group user/senchikvalentin
	removeReviewer = group user/senchikvalentin
	submit = group user/senchikvalentin
[access "refs/heads/*"]
	read = group user/senchikvalentin
	create = group user/senchikvalentin
	push = +force group user/senchikvalentin
	pushMerge = group user/senchikvalentin
[access "refs/tags/*"]
	push = +force group user/senchikvalentin
	pushTag = group user/senchikvalentin
	pushSignedTag = group user/senchikvalentin
